<h1><%= @meetup.title %></h1>
<p>Location: <%= @meetup.location %></p>
<p>Description: <%= @meetup.description %></p>
Who's going?
<% @meetup.users.each do |user| %>
  <p><img src = '<%= user.avatar_url %>'>
  <%= user.username %></p>
<% end %>

<form action="/<%= @meetup.id %>/join" method="post">
  <button type="submit">
    <% if !@meetup.users.include?(current_user) %>
      <%= 'Join' %>
    <% else %>
      <%= 'Leave' %>
    <% end %>
  </button>
</form>



<a href="/">Home</a>
